{%  include 'subscription-cart-footer' %} 
 {% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}

<script>
      (function($) {

        // USERNAMES AUTOCOMPLETE METHODS

        // Build an array of the fetched usernames
        function usernamesToArray(usernames) {
         array = $.map(usernames, function(v,i){
            return { label: v.name, value: v.name, id: v.uid };
          });
         return array
        };

        // Autocomplete method which fetch username from NanoWrimo api through nano-app
        $("#username").autocomplete({
           source: function (request, response) {
              $.ajax({
                 url: "https://89c944b6.ngrok.io/api/v1/users.json",
                 dataType: "json",
                 data: { 'username': request.term },
                 success: function (data) {
                    response(usernamesToArray(data.usernames));
                 }
              });
           },
          select: function (event, ui) {
             $('#username').val = ui.item.value;
             $('#uid').val = ui.item.id;
          },
          minLength: 2,   
          delay: 300,   
        });


        // PRICE FETCH METHODS 

         // Ajax request to nano-app to fetch price and create variants with new prices accordingly
         $(document).on('keyup', '[data-variant-price-id]', function(e) {
           delay(function(){
            $.ajax({
              url: 'https://89c944b6.ngrok.io/get-variant.json',
              data: { 'amount': e.target.value, 'shop': 'nanowrimo-store.myshopify.com' },
              success: function(data) {
                $('#price').data('variant-price-id', data.variant_id)
              }
            });
           }, 300)
         });

        // Allow delay when typing price
        var delay = (function(){
          var timer = 0;
          return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
         };
        })();

        // CART METHODS

        $(document).on("click", "#donation-button", function(){
		    $.magnificPopup.open({
				  items: {
				    src: '#donation-form', // can be a HTML string, jQuery object, or CSS selector
				    type: 'inline'
				  }
			});
		});

		// Add button to include donation if donation item not present in the cart
		$( document ).ready(function(e) {
			var cart_items = [];
		    $.getJSON({
              url: '/cart.js',
              success: function(data) {
                data.items.map(function(item){
                	if(item.product_title == 'Donation'){
                		cart_items.push(item);
                	}
                });
                if(cart_items.length == 0){
					$('#donation').append("<a id='donation-button' href='#test-popup' class='btn btn--secondary open-popup-link'>Add Donation</a>")	
				}
              }
            });
		});

		// SUBMIT BUTTON OVERRIDE 

        var recurringCharge = (function(){
          if ($('#recurring-charge').is(":checked")){
            $('#recurring-charge').val()
          };
        })

        var donnorGoodies = (function(){
          if ($('#donnor-goodies').is(":checked")){
            $('#donnor-goodies').val()
          };
        })

        // Add Donation item to cart 
		$(document).on("click", "#add-to-cart", function(e) {
            e.preventDefault();
            $.post('/cart/add.js', {
                quantity: 1,
                id: $('#price').data('variant-price-id'),
                price: $('#price').val(),
                properties: {
                    'donor-goodies': donnorGoodies(),
                    'event-type': $('#event-type').val(),
                    'username': $('#username').val(),
                    'url': $('#url').val(),
                    'recurring-charge': recurringCharge()
                  },
                function(data) {
                  window.location.reload();
                }
            });
         });
      }(jQuery));
</script>   